---
http_interactions:
- request:
    method: get
    uri: https://lite.realtime.nationalrail.co.uk/OpenLDBWS/rtti_2017-10-01_ldb.wsdl
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Tue, 31 Oct 2017 14:50:44 GMT
      Etag:
      - '"03af6a05752d31:0"'
      X-Server:
      - liteweb201
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" xmlns:tok=\"http://thalesgroup.com/RTTI/2013-11-28/Token/types\"
        xmlns:tns=\"http://thalesgroup.com/RTTI/2017-10-01/ldb/\" targetNamespace=\"http://thalesgroup.com/RTTI/2017-10-01/ldb/\">\r\n\t<wsdl:import
        namespace=\"http://thalesgroup.com/RTTI/2013-11-28/Token/types\" location=\"darwin_token_types_2013-11-28.wsdl\"/>\r\n\t<wsdl:types>\r\n\t\t<xs:schema
        elementFormDefault=\"qualified\" attributeFormDefault=\"unqualified\" targetNamespace=\"http://thalesgroup.com/RTTI/2017-10-01/ldb/\"
        xmlns:ct2007=\"http://thalesgroup.com/RTTI/2007-10-10/ldb/commontypes\" xmlns:ct2015=\"http://thalesgroup.com/RTTI/2015-11-27/ldb/commontypes\"
        xmlns:ldbt20171001=\"http://thalesgroup.com/RTTI/2017-10-01/ldb/types\">\r\n\t\t\t<xs:import
        namespace=\"http://thalesgroup.com/RTTI/2007-10-10/ldb/commontypes\" schemaLocation=\"rtti_2007-10-10_ldb_common_types.xsd\"/>\r\n\t\t\t<xs:import
        namespace=\"http://thalesgroup.com/RTTI/2015-11-27/ldb/commontypes\" schemaLocation=\"rtti_2015-11-27_ldb_common_types.xsd\"/>\r\n\t\t\t<xs:import
        namespace=\"http://thalesgroup.com/RTTI/2017-10-01/ldb/types\" schemaLocation=\"rtti_2017-10-01_ldb_types.xsd\"/>\r\n\t\t\t<!--
        ============================================================================\r\n\t\t\t\tREQUEST
        PARAMETER DEFINITIONS \r\n\t\t\t==============================================================================-->\r\n\t\t\t<xs:complexType
        name=\"GetBoardRequestParams\">\r\n\t\t\t\t<xs:sequence>\r\n\t\t\t\t\t<xs:element
        name=\"numRows\" type=\"xs:unsignedShort\">\r\n\t\t\t\t\t\t<xs:annotation>\r\n\t\t\t\t\t\t\t<xs:documentation>The
        maximum number of services that are required to be returned. This will be
        limited to a maximum value by the server, which may change according to system
        load or other factors. Only the minimum required number of services should
        be requested. For example, if only 10 services are displayed in a user interface,
        then this parameter should be set to 10.</xs:documentation>\r\n\t\t\t\t\t\t</xs:annotation>\r\n\t\t\t\t\t</xs:element>\r\n\t\t\t\t\t<xs:element
  [...]
- request:
    method: post
    uri: https://lite.realtime.nationalrail.co.uk/OpenLDBWS/ldb11.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://thalesgroup.com/RTTI/2017-10-01/ldb/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://thalesgroup.com/RTTI/2014-02-20/ldb/"
        xmlns:ns2="http://thalesgroup.com/RTTI/2010-11-01/ldb/commontypes"><env:Header><ns2:AccessToken><ns2:TokenValue>***REMOVED***</ns2:TokenValue></ns2:AccessToken></env:Header><env:Body><tns:GetDepartureBoardRequest><tns:numRows>15</tns:numRows><tns:crs>GLC</tns:crs><tns:filterCrs
        xsi:nil="true"/><tns:filterType>to</tns:filterType><tns:timeOffset xsi:nil="true"/><tns:timeWindow
        xsi:nil="true"/></tns:GetDepartureBoardRequest></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://thalesgroup.com/RTTI/2012-01-13/ldb/GetDepartureBoard"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      X-Server:
      - liteweb201
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetDepartureBoardResponse
        xmlns="http://thalesgroup.com/RTTI/2017-10-01/ldb/"><GetStationBoardResult
        xmlns:lt="http://thalesgroup.com/RTTI/2012-01-13/ldb/types" xmlns:lt6="http://thalesgroup.com/RTTI/2017-02-02/ldb/types"
        xmlns:lt7="http://thalesgroup.com/RTTI/2017-10-01/ldb/types" xmlns:lt4="http://thalesgroup.com/RTTI/2015-11-27/ldb/types"
        xmlns:lt5="http://thalesgroup.com/RTTI/2016-02-16/ldb/types" xmlns:lt2="http://thalesgroup.com/RTTI/2014-02-20/ldb/types"
        xmlns:lt3="http://thalesgroup.com/RTTI/2015-05-14/ldb/types"><lt4:generatedAt>2018-02-23T14:21:45.4551299+00:00</lt4:generatedAt><lt4:locationName>Glasgow
        Central</lt4:locationName><lt4:crs>GLC</lt4:crs><lt4:platformAvailable>true</lt4:platformAvailable><lt7:trainServices><lt7:service><lt4:std>14:20</lt4:std><lt4:etd>On
        time</lt4:etd><lt4:platform>4R</lt4:platform><lt4:operator>ScotRail</lt4:operator><lt4:operatorCode>SR</lt4:operatorCode><lt4:serviceType>train</lt4:serviceType><lt4:serviceID>1EInFILNb5BWvxnAIhAmCg==</lt4:serviceID><lt5:rsid>SR595100</lt5:rsid><lt5:origin><lt4:location><lt4:locationName>Glasgow
        Central</lt4:locationName><lt4:crs>GLC</lt4:crs></lt4:location></lt5:origin><lt5:destination><lt4:location><lt4:locationName>Lanark</lt4:locationName><lt4:crs>LNK</lt4:crs><lt4:via>via
        Bellshill &amp; Shieldmuir</lt4:via></lt4:location></lt5:destination></lt7:service><lt7:service><lt4:std>14:20</lt4:std><lt4:etd>On
        time</lt4:etd><lt4:platform>9R</lt4:platform><lt4:operator>ScotRail</lt4:operator><lt4:operatorCode>SR</lt4:operatorCode><lt4:serviceType>train</lt4:serviceType><lt4:serviceID>rhGSxPgk9o2eVaWIdHYWqw==</lt4:serviceID><lt5:rsid>SR857200</lt5:rsid><lt5:origin><lt4:location><lt4:locationName>Glasgow
        Central</lt4:locationName><lt4:crs>GLC</lt4[...]
